$primary-color: #f38e58;
$hover-primary-color: #b86538;
$secondary-color: #65b2e8;
$hover-secondary-color: #4c89b4;
$tertiary-color: #f3baa0;
$main-text-color: #777777;
$hover-main-text-color: #999999;
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  //   ////////////////////////////////////////////////////////////NAV BAR////////////////////////////////////////////////////////////////////////////////////
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    display: inline-flex;
    justify-content: space-around;
    background-color: $primary-color;
    align-items: center;
    font-size: 18px;
    padding: 2px 0px 5px 0px;
    div.align-row {
      width: 70%;
      margin-left: 10%;
      display: inline-flex;
      img {
        margin-right: 25px;
        position: relative;
        top: -10px;
      }
      ul {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        li {
          margin-right: 25px;
          li:first-child {
            margin: 0;
          }
          li:last-child {
            margin: 0;
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      &.second {
        width: 35%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 10%;
        button {
          width: 50%;
          padding: 5% 0%;
          font-family: inherit;
          color: white;
          border: solid 2px white;
          border-radius: 10px;
          background: none;
          font-weight: bold;
          font-size: 15px;
          cursor: pointer;
        }
        button:first-child {
          width: 100%;
          margin-right: 15px;
          border: black;
          background-color: black;
        }
      }
    }
    div.burger-menu {
      display: none;
      button {
        border-radius: 5px;
        height: 40px;
        border: solid 2px white;
        background-color: white;
        i {
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          color: $primary-color;
          border-radius: 5px;
        }

        ol {
          display: none;
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            text-align: center;
            font-family: inherit;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            padding: 2px;
            li:last-child {
              margin-bottom: 0;
            }
            a {
              text-decoration: none;
              color: $primary-color;
            }
          }
        }
      }
      button:hover {
        margin-top: 270px;
        background-color: white;
        border-color: $secondary-color;
        height: 300px;
        width: 205px;
        i {
          color: white;
          display: none;
        }
        ol {
          display: block;
          li:hover {
            background-color: $primary-color;
            a {
              color: $hover-primary-color;
            }
          }
        }
        div.login-link {
          padding-top: 15px;
          cursor: pointer;
          a {
            padding: 5px 7px;
            background-color: $secondary-color;
            text-decoration: none;
            color: white;
            border-radius: 5px;
          }
          a:hover {
            background-color: $hover-secondary-color;
          }
        }
      }
      button:focus {
        margin-top: 270px;
        background-color: white;
        border-color: $secondary-color;
        height: 300px;
        width: 200px;
        i {
          color: white;
          display: none;
        }
        ol {
          display: block;
          li:focus {
            background-color: $primary-color;
            a {
              color: $hover-primary-color;
            }
          }
        }
        div.login-link {
          padding-top: 15px;
          a {
            padding: 5px 7px;
            background-color: $secondary-color;
            text-decoration: none;
            color: white;
            border-radius: 5px;
          }
        }
      }
    }
  }
  // ///////////////////////////////////////////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////////////////////
  header {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: $primary-color;
    padding: 8% 0 5% 0;
    h1 {
      margin: 0;
      color: white;
      font-size: 60px;
    }
    p {
      color: $main-text-color;
    }
  }

  // ///////////////////////////////////////////////////////////////////////////////////////////// MAIN //////////////////////////////////////////////////////////////////////
  ::placeholder {
    font-style: italic;
    font-size: 1em;
    color: gainsboro;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 8% 0 8% 0;
    div.main-div {
      width: 45%;
      font-size: 22px;
      h2 {
        color: $secondary-color;
        font-weight: bolder;
      }
      h3 {
        color: #383838;
        font-size: 30px;
        font-weight: normal;
      }
      p {
        font-size: 22px;
        color: $main-text-color;
      }
      a {
        text-decoration: none;
        color: $tertiary-color;
      }
      a:hover {
        color: $hover-primary-color;
      }
      div.smaller-div {
        margin-left: 50px;
        form {
          margin-top: 70px;
          display: flex;
          flex-direction: column;
          input[type="text"],
          input[type="email"],
          input[type="tel"],
          textarea {
            width: 100%;
            border-radius: 5px;
            border: solid 2px lightgray;
            padding: 5px;
            margin-bottom: 20px;
            box-sizing: border-box;
            outline: none;
            padding: 2% 2%;
            font-size: 15px;
            resize: none;
          }
          input[type="text"]:focus,
          input[type="email"]:focus,
          input[type="tel"]:focus,
          textarea:focus {
            box-shadow: 0 0 10px #7aa7c7;
            border-radius: 5px;
            border-color: #3095fa;
          }
          input[type="submit"] {
            height: 50px;
            margin-left: 80%;
            border-radius: 5px;
            box-sizing: border-box;
            outline: none;
            border: none;
            background-color: $primary-color;
            color: white;
            font-size: 15px;
            cursor: pointer;
          }
        }
        &.second {
          margin-left: 0;
        }
      }
      &.second {
        h3 {
          margin-top: 70px;
        }
        div.social-media {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 85%;
          justify-content: center;
          div.icon {
            width: 160px;
            height: 70px;
            background: linear-gradient(
              180deg,
              $primary-color 70%,
              $tertiary-color 30%
            );
            border-radius: 50%;
            margin-right: 15px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            i {
              font-size: 35px;
              border-radius: 50%;
              color: white;
              text-shadow: 5px 5px 5px gray;
            }
          }
        }
      }
    }
  }
  // ////////////////////////////////////////////////////////////// FOOTER ////////////////////////////////////////////////////////////////////////////////////////////////

  footer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #404040;
    align-items: center;
    font-size: 18px;
    font-family: inherit;
    padding-top: 25px;
    div.footer-links {
      width: 95%;
      display: flex;
      justify-content: space-around;
      margin: 0;
      ul {
        width: max-content;
        list-style: none;
        padding-bottom: 25px;
        li {
          color: white;
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: $main-text-color;
          }
          a:hover {
            color: $hover-main-text-color;
          }
          i {
            color: $tertiary-color;
            margin-right: 15px;
            font-size: 25px;
          }
        }
      }
      .create-button {
        width: 60%;
        border: black;
        background-color: black;
        padding: 15px 40px;
        text-align: center;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        a {
          color: white;
          text-align: center;
        }
      }
    }
    div.copyrights {
      width: 100%;
      display: flex;
      margin: 0;
      background-color: #333333;
      justify-content: center;
      p {
        width: 86%;
        display: flex;
        margin: 0;
        padding: 10px 0 10px 0;
        color: $main-text-color;
        a {
          text-decoration: none;
          color: $tertiary-color;
        }
        a:hover {
          color: $hover-primary-color;
        }
      }
    }
  }
}

// /////////////////////////////////////////////////////////////// @ MEDIA /////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 1300px) {
  body {
    nav {
      div.align-row {
        margin-left: 5%;
      }
    }
    main {
      flex-direction: column;
      align-items: center;
      margin: 0;
      div.main-div {
        width: 80%;
        margin-bottom: 150px;
        div.smaller-div {
          width: 100%;
          margin: 0;
          form {
            input[type="submit"] {
              margin: 0;
            }
          }
        }
        &.second {
          div.social-media {
            width: 100%;
            div.icon {
              width: 100px;
              height: 60px;
            }
          }
        }
      }
    }
    footer {
      div.footer-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .create-button {
          width: 10%;
        }
      }
      div.copyrights {
        p {
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  body {
    nav {
      div.align-row {
        &.second {
          margin-right: 5%;
          button {
            span:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  body {
    nav {
      justify-content: space-between;
      div.align-row {
        width: 0%;
        button {
          display: flex;
        }
        ul {
          display: none;
        }
        &.second {
          display: none;
        }
      }
      div.burger-menu {
        display: flex;
        margin-right: 5%;
      }
    }
    main {
      div.main-div {
        width: 75%;
        p {
          font-size: 20px;
        }
        &.second {
          div.social-media {
            flex-direction: column;
            div.icon {
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  body {
    header {
      h1 {
        font-size: 45px;
      }
      p {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    main {
      div.main-div {
        p {
          font-size: 18px;
        }
        &.second {
          div.social-media {
            div.icon {
              i {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  body {
    header {
      h1 {
        font-size: 30px;
      }
    }
  }
}
