body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  display: inline-flex;
  justify-content: space-around;
  background-color: #f38e58;
  align-items: center;
  font-size: 18px;
  padding: 2px 0px 5px 0px;
}
body nav div.align-row {
  width: 70%;
  margin-left: 10%;
  display: inline-flex;
}
body nav div.align-row img {
  margin-right: 25px;
  position: relative;
  top: -10px;
}
body nav div.align-row ul {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
body nav div.align-row ul li {
  margin-right: 25px;
}
body nav div.align-row ul li li:first-child {
  margin: 0;
}
body nav div.align-row ul li li:last-child {
  margin: 0;
}
body nav div.align-row ul li a {
  text-decoration: none;
  color: white;
}
body nav div.align-row.second {
  width: 35%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10%;
}
body nav div.align-row.second button {
  width: 50%;
  padding: 5% 0%;
  font-family: inherit;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
  background: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
body nav div.align-row.second button:first-child {
  width: 100%;
  margin-right: 15px;
  border: black;
  background-color: black;
}
body nav div.burger-menu {
  display: none;
}
body nav div.burger-menu button {
  border-radius: 5px;
  height: 40px;
  border: solid 2px white;
  background-color: white;
}
body nav div.burger-menu button i {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #f38e58;
  border-radius: 5px;
}
body nav div.burger-menu button ol {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
body nav div.burger-menu button ol li {
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 2px;
}
body nav div.burger-menu button ol li li:last-child {
  margin-bottom: 0;
}
body nav div.burger-menu button ol li a {
  text-decoration: none;
  color: #f38e58;
}
body nav div.burger-menu button:hover {
  margin-top: 270px;
  background-color: white;
  border-color: #65b2e8;
  height: 300px;
  width: 205px;
}
body nav div.burger-menu button:hover i {
  color: white;
  display: none;
}
body nav div.burger-menu button:hover ol {
  display: block;
}
body nav div.burger-menu button:hover ol li:hover {
  background-color: #f38e58;
}
body nav div.burger-menu button:hover ol li:hover a {
  color: #b86538;
}
body nav div.burger-menu button:hover div.login-link {
  padding-top: 15px;
  cursor: pointer;
}
body nav div.burger-menu button:hover div.login-link a {
  padding: 5px 7px;
  background-color: #65b2e8;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
body nav div.burger-menu button:hover div.login-link a:hover {
  background-color: #4c89b4;
}
body nav div.burger-menu button:focus {
  margin-top: 270px;
  background-color: white;
  border-color: #65b2e8;
  height: 300px;
  width: 200px;
}
body nav div.burger-menu button:focus i {
  color: white;
  display: none;
}
body nav div.burger-menu button:focus ol {
  display: block;
}
body nav div.burger-menu button:focus ol li:focus {
  background-color: #f38e58;
}
body nav div.burger-menu button:focus ol li:focus a {
  color: #b86538;
}
body nav div.burger-menu button:focus div.login-link {
  padding-top: 15px;
}
body nav div.burger-menu button:focus div.login-link a {
  padding: 5px 7px;
  background-color: #65b2e8;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
body header {
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #f38e58;
  padding: 8% 0 5% 0;
}
body header h1 {
  margin: 0;
  color: white;
  font-size: 60px;
}
body header p {
  color: #777777;
}
body ::placeholder {
  font-style: italic;
  font-size: 1em;
  color: gainsboro;
}
body main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 8% 0 8% 0;
}
body main div.main-div {
  width: 45%;
  font-size: 22px;
}
body main div.main-div h2 {
  color: #65b2e8;
  font-weight: bolder;
}
body main div.main-div h3 {
  color: #383838;
  font-size: 30px;
  font-weight: normal;
}
body main div.main-div p {
  font-size: 22px;
  color: #777777;
}
body main div.main-div a {
  text-decoration: none;
  color: #f3baa0;
}
body main div.main-div a:hover {
  color: #b86538;
}
body main div.main-div div.smaller-div {
  margin-left: 50px;
}
body main div.main-div div.smaller-div form {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
body main div.main-div div.smaller-div form input[type=text],
body main div.main-div div.smaller-div form input[type=email],
body main div.main-div div.smaller-div form input[type=tel],
body main div.main-div div.smaller-div form textarea {
  width: 100%;
  border-radius: 5px;
  border: solid 2px lightgray;
  padding: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
  padding: 2% 2%;
  font-size: 15px;
  resize: none;
}
body main div.main-div div.smaller-div form input[type=text]:focus,
body main div.main-div div.smaller-div form input[type=email]:focus,
body main div.main-div div.smaller-div form input[type=tel]:focus,
body main div.main-div div.smaller-div form textarea:focus {
  box-shadow: 0 0 10px #7aa7c7;
  border-radius: 5px;
  border-color: #3095fa;
}
body main div.main-div div.smaller-div form input[type=submit] {
  height: 50px;
  margin-left: 80%;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: #f38e58;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
body main div.main-div div.smaller-div.second {
  margin-left: 0;
}
body main div.main-div.second h3 {
  margin-top: 70px;
}
body main div.main-div.second div.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  justify-content: center;
}
body main div.main-div.second div.social-media div.icon {
  width: 160px;
  height: 70px;
  background: linear-gradient(180deg, #f38e58 70%, #f3baa0 30%);
  border-radius: 50%;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
body main div.main-div.second div.social-media div.icon i {
  font-size: 35px;
  border-radius: 50%;
  color: white;
  text-shadow: 5px 5px 5px gray;
}
body footer {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #404040;
  align-items: center;
  font-size: 18px;
  font-family: inherit;
  padding-top: 25px;
}
body footer div.footer-links {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
body footer div.footer-links ul {
  width: max-content;
  list-style: none;
  padding-bottom: 25px;
}
body footer div.footer-links ul li {
  color: white;
  margin-bottom: 10px;
}
body footer div.footer-links ul li a {
  text-decoration: none;
  color: #777777;
}
body footer div.footer-links ul li a:hover {
  color: #999999;
}
body footer div.footer-links ul li i {
  color: #f3baa0;
  margin-right: 15px;
  font-size: 25px;
}
body footer div.footer-links .create-button {
  width: 60%;
  border: black;
  background-color: black;
  padding: 15px 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
body footer div.footer-links .create-button a {
  color: white;
  text-align: center;
}
body footer div.copyrights {
  width: 100%;
  display: flex;
  margin: 0;
  background-color: #333333;
  justify-content: center;
}
body footer div.copyrights p {
  width: 86%;
  display: flex;
  margin: 0;
  padding: 10px 0 10px 0;
  color: #777777;
}
body footer div.copyrights p a {
  text-decoration: none;
  color: #f3baa0;
}
body footer div.copyrights p a:hover {
  color: #b86538;
}

@media only screen and (max-width: 1300px) {
  body nav div.align-row {
    margin-left: 5%;
  }
  body main {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  body main div.main-div {
    width: 80%;
    margin-bottom: 150px;
  }
  body main div.main-div div.smaller-div {
    width: 100%;
    margin: 0;
  }
  body main div.main-div div.smaller-div form input[type=submit] {
    margin: 0;
  }
  body main div.main-div.second div.social-media {
    width: 100%;
  }
  body main div.main-div.second div.social-media div.icon {
    width: 100px;
    height: 60px;
  }
  body footer div.footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body footer div.footer-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body footer div.footer-links .create-button {
    width: 10%;
  }
  body footer div.copyrights p {
    justify-content: center;
  }
}
@media only screen and (max-width: 1100px) {
  body nav div.align-row.second {
    margin-right: 5%;
  }
  body nav div.align-row.second button span:first-child {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  body nav {
    justify-content: space-between;
  }
  body nav div.align-row {
    width: 0%;
  }
  body nav div.align-row button {
    display: flex;
  }
  body nav div.align-row ul {
    display: none;
  }
  body nav div.align-row.second {
    display: none;
  }
  body nav div.burger-menu {
    display: flex;
    margin-right: 5%;
  }
  body main div.main-div {
    width: 75%;
  }
  body main div.main-div p {
    font-size: 20px;
  }
  body main div.main-div.second div.social-media {
    flex-direction: column;
  }
  body main div.main-div.second div.social-media div.icon {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 620px) {
  body header h1 {
    font-size: 45px;
  }
  body header p {
    margin-left: 15px;
    margin-right: 15px;
  }
  body main div.main-div p {
    font-size: 18px;
  }
  body main div.main-div.second div.social-media div.icon i {
    font-size: 25px;
  }
}
@media only screen and (max-width: 330px) {
  body header h1 {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
